@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100&family=Gidugu&family=Happy+Monkey&family=Londrina+Shadow&family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=PT+Serif:wght@700&display=swap");
.rutgers {
  font-family: "PT Serif";
  color: red;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.header-holder, .header-holder--responsive {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 30px;
}
.header-logo {
  font-size: 10em;
  color: rgb(255, 159, 111);
  font-family: "Potta One", cursive;
}

.header-links-col {
  font-size: 1.5em;
  margin-top: 80px;
}
.header-links-col .links {
  font-size: clamp(0.55em, 2vw, 1.25em);
  white-space: nowrap;
  cursor: pointer;
}

.header-link {
  font-size: 2em;
  white-space: nowrap;
  cursor: pointer;
}

.header-links-sticky-container {
  font-size: 2em;
  background-color: rgb(255, 159, 111);
  display: flex;
  height: 64px;
  justify-content: space-evenly;
  align-items: center;
}
.header-links-sticky-container .header-links-sticky-item .links {
  color: white;
  font-size: clamp(0.49em, 2vw, 2em);
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../assets/background.jpg");
  background-attachment: fixed;
}
.wrapper .background-logo {
  width: "50px";
  position: absolute;
  top: 0px;
  left: 0px;
}

@-webkit-keyframes move {
  to {
    transform: translateX(-100%);
  }
}

@keyframes move {
  to {
    transform: translateX(-100%);
  }
}
.landing {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}
.landing .intro {
  background-color: rgb(252, 242, 234);
  display: grid;
  grid-template-rows: auto auto auto 1fr 1fr 28rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "roll roll roll roll roll roll roll roll roll roll" "header header header header header header header header header header" ". . . . . . . . . ." ". . . main main main main main main ." ". . . main main main main main main ." ". . . . footer footer . . . .";
}
.landing .intro .bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: roll;
  background-color: black;
  overflow: hidden;
}
.landing .intro .bar .bar-content {
  display: block;
  color: white;
  width: 100%;
  font-family: "Helvetica";
  font-weight: 900;
  font-size: 3em;
  transform: translateX(100%);
  -webkit-animation: move 20s linear infinite;
          animation: move 20s linear infinite;
  white-space: nowrap;
}
.landing .intro .header-container {
  height: 200px;
  grid-area: header;
  display: flex;
}
.landing .intro .header-container .header-logo {
  font-size: 15em;
  color: rgb(255, 159, 111);
  margin: 5rem 1rem;
  font-family: "Potta One", cursive;
  cursor: default;
}
.landing .intro .header-container .header-links-container {
  cursor: pointer;
}
.landing .intro .header-container .header-links-container .header-links {
  font-size: 2em;
}
.landing .intro .para-wrapper {
  margin-top: 50px;
  grid-area: main;
  justify-self: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 5px lightblue;
}
.landing .intro .para-wrapper .para-header {
  font-family: "Montserrat";
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 3em;
}
.landing .intro .para-wrapper .paragraph {
  font-family: "Work Sans", sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 1rem;
  font-size: 1.7em;
  font-size: clamp(1em, 3vw, 2em);
}
.landing .intro .contact-container {
  margin-bottom: 2rem;
  grid-area: footer;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing .intro .contact-container .contact-text {
  font-size: 2em;
  margin-bottom: 1rem;
}
.landing .intro .contact-container .icon-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.landing .intro .contact-container .icon-container .icon-link .icon {
  height: 40px;
  fill: rgb(255, 159, 111);
}
.landing .intro .contact-container .icon-container .icon-link .link {
  font-size: 3em;
}

.my-projects {
  background-color: rgb(252, 242, 234);
  overflow: auto;
}
.my-projects .header-title {
  font-size: clamp(5em, 6vw, 8em);
  padding-top: 20px;
  padding-left: 30px;
}
.my-projects .container {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.my-projects .container .item .link-header {
  color: rgb(255, 159, 111);
  font-family: "Potta One", cursive;
  font-size: 2.5em;
}
.my-projects .container .item .info {
  width: 75%;
  font-size: 1.5em;
  margin-left: 10px;
}
.my-projects .container .link {
  cursor: pointer;
  font-size: 1.5em;
}

.interactive {
  background-color: rgb(252, 242, 234);
  display: flex;
  flex-direction: column;
}
.interactive .card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px;
  flex-grow: 1;
  background-color: rgb(255, 186, 151);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
}
.interactive .header-title {
  font-size: clamp(5em, 6vw, 8em);
  padding-top: 20px;
  padding-left: 30px;
}
.interactive .text-area-holder {
  display: flex;
  align-items: stretch;
  height: 20vw;
}
.interactive .text-area-holder .text-area {
  margin: 5px;
  border-radius: 12px;
  resize: none;
  flex-grow: 2;
  padding: 10px;
  font-size: x-large;
  text-transform: uppercase;
  background-color: rgb(255, 248, 239);
}
.interactive .text-area-holder .text-area:hover {
  background-color: rgb(255, 233, 222);
  border-radius: 12px;
}
.interactive .text-area-holder .text-area:focus {
  outline: none;
  border-radius: 12px;
  background-color: rgb(255, 233, 222);
}
.interactive .text-area-holder-responsive {
  margin: 5px;
  border-radius: 12px;
  resize: none;
  flex-grow: 2;
  padding: 10px;
  font-size: x-large;
  text-transform: uppercase;
  background-color: rgb(255, 248, 239);
}
.interactive .text-area-holder-responsive:hover {
  background-color: rgb(255, 233, 222);
  border-radius: 12px;
}
.interactive .text-area-holder-responsive:focus {
  border-radius: 12px;
  background-color: rgb(255, 233, 222);
}
.interactive .morse-helper-header {
  font-size: clamp(2em, 6vw, 3em);
}
.interactive .morse-helper-text {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.test {
  height: 90vh;
  background-color: rgb(252, 242, 234);
}
.test .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.test .swiper .swiper-slide {
  background-position: center;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  border-radius: 30px;
}
.test .swiper .swiper-slide .slide-content {
  width: 100%;
  height: 100%;
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-align: center;
  -o-object-fit: fill;
     object-fit: fill;
}/*# sourceMappingURL=stylesheet.css.map */