@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100&family=Gidugu&family=Happy+Monkey&family=Londrina+Shadow&family=Potta+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=PT+Serif:wght@700&display=swap");
.rutgers {
  font-family: "PT Serif";
  color: red;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.header-holder, .header-holder--responsive {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 30px;
}
.header-links-sticky-container {
  font-size: 2em;
  height: 64px;
  background-color: rgb(255, 159, 111);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-links-sticky-container .header-links-sticky-item .links {
  color: white;
  font-size: clamp(0.49em, 2vw, 2em);
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("../assets/background.jpg");
  background-attachment: fixed;
}
.wrapper .background-logo {
  width: "50px";
  position: absolute;
  top: 0px;
  left: 0px;
}

@-webkit-keyframes move {
  to {
    transform: translateX(-50%);
  }
}

@keyframes move {
  to {
    transform: translateX(-50%);
  }
}
.landing {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-width: 600px;
}
.landing .intro {
  background-color: rgb(252, 242, 234);
  display: inline-grid;
  grid-template-rows: auto 14rem auto 1fr 1fr 21rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "roll roll roll roll roll roll roll roll roll roll" "header header header header header header header header header header" ". . . . . . . . . ." ". . . main main main main main main ." ". . . main main main main main main ." ". . . . footer footer . . . .";
}
.landing .intro .bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  grid-area: roll;
  background-color: black;
  overflow: hidden;
}
.landing .intro .bar .bar-content {
  display: block;
  color: white;
  width: 100%;
  font-family: "Helvetica";
  font-weight: 900;
  font-size: 3em;
  transform: translateX(100%);
  -webkit-animation: move 20s linear infinite;
          animation: move 20s linear infinite;
  white-space: nowrap;
}
.landing .intro .header-container {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing .intro .header-container .header-logo {
  font-size: 15em;
  color: rgb(255, 159, 111);
  margin: 1rem 1rem;
  font-family: "Potta One", cursive;
  cursor: default;
}
.landing .intro .para-wrapper {
  margin-top: 50px;
  grid-area: main;
  justify-self: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 5px lightblue;
}
.landing .intro .para-wrapper .para-header {
  font-family: "Montserrat";
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 3rem;
  font-size: 3em;
}
.landing .intro .para-wrapper .paragraph {
  font-family: "Work Sans", sans-serif;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 1rem;
  font-size: 1.7em;
  font-size: clamp(1em, 3vw, 2em);
}
.landing .intro .contact-container {
  margin-bottom: 2rem;
  grid-area: footer;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing .intro .contact-container .contact-text {
  font-size: 2em;
  margin-bottom: 1rem;
}
.landing .intro .contact-container .icon-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.landing .intro .contact-container .icon-container .icon-link .icon {
  height: 40px;
  fill: rgb(255, 159, 111);
}
.landing .intro .contact-container .icon-container .icon-link .link {
  font-size: 3em;
}

.my-projects {
  background-color: rgb(252, 242, 234);
  overflow: auto;
}
.my-projects .header-title {
  font-size: clamp(5em, 6vw, 8em);
  padding-top: 20px;
  padding-left: 30px;
}
.my-projects .container {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.my-projects .container .item .link-header {
  color: rgb(255, 159, 111);
  font-family: "Potta One", cursive;
  font-size: 2.5em;
}
.my-projects .container .item .info {
  width: 75%;
  font-size: 1.5em;
  margin-left: 10px;
}
.my-projects .container .link {
  cursor: pointer;
  font-size: 1.5em;
}

.interactive {
  height: 65rem;
  background-color: rgb(252, 242, 234);
  display: flex;
  flex-direction: column;
}
.interactive .header-title {
  font-size: clamp(5em, 6vw, 8em);
  padding-top: 20px;
  padding-left: 30px;
}
.interactive .test {
  background-color: rgb(252, 242, 234);
}
.interactive .test .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.interactive .test .swiper .swiper-slide {
  background-position: center;
  height: 30rem;
  width: 30rem;
  overflow: hidden;
  border-radius: 30px;
}
.interactive .test .swiper .swiper-slide .slide-content {
  width: 100%;
  height: 100%;
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  text-align: center;
  -o-object-fit: fill;
     object-fit: fill;
}

.card {
  height: 30rem;
  background-color: rgb(255, 159, 111);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: stretch;
}
.card .title {
  margin: 10px 20px 0px 20px;
  font-size: 2.5em;
  font-family: "Montserrat";
  color: white;
}
.card .text-area {
  height: 5rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 15px 15px 15px 15px;
  resize: none;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: white;
}
.card .text-area:hover {
  background-color: white;
}
.card .text-area:focus {
  background-color: white;
}
.card .morse-helper-text {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.6em;
  font-weight: bold;
}/*# sourceMappingURL=stylesheet.css.map */